@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

video {
  max-width: none;
  /* z-index: 100 !important; */
}

canvas {
  z-index: 200 !important;
}

.main {
  position: absolute;
  height: 100dvh;
  width: 100%;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.gradientBack {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.7) 61%,
    rgba(0, 0, 0, 0) 100%
  );
}

.usen {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-break: strict;
  word-break: keep-all;
}

.flashing {
  animation: flashing 1s infinite;
}

.down {
  animation: down 1s infinite;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.3s 0.2s forwards;
}
.fadeOut {
  opacity: 1;
  animation: fadeOut 0.3s forwards;
}

.scanIconActive {
  animation: scanIconActive 3s infinite;
}

.rotationInfinite {
  animation: rotationInfinite linear 0.8s infinite;
}

@keyframes scanIconActive {
  0% {
    opacity: 0.6;
    transform: scale(0.8) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.6;
    transform: scale(0.8);
  }
}

@keyframes rotationInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flashing {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes down {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(3px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(3px);
    opacity: 0;
  }
}
